<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <div class="container">
    <div class="cellphone-container">    
        <div class="movie">       
          <div class="movie-img">
            <img src="assets/wp4056407.jpg">
          </div>
          <div class="text-movie-cont">
            <div class="mr-grid">
              <div class="col1">
                <h1>Dark</h1>
                <ul class="movie-gen">
                  <li>R16  /</li>
                  <li>3 Seasons  /</li>
                  <li>Thriller, Science fiction, Mystery</li>
                </ul>
              </div>
            </div>
            <div class="mr-grid summary-row">
              <div class="col2">
                <h5>SUMMARY</h5>
              </div>
            </div>
            <div class="mr-grid">
              <div class="col1">
                <p class="movie-description">When two children go missing in a small German town, its sinful past is exposed along with the double lives and fractured relationships that exist among four families as they search for the kids. </p>
              </div>
            </div>
            <div class="mr-grid actors-row">
              <div class="col1">
                <p class="movie-actors">Louis Hofmann, Ella Lee, Arnd Klawitter</p>
              </div>
            </div>
            <div class="mr-grid action-row">
              <div class="col2"><div class="watch-btn"><h3>WATCH TRAILER</h3></div>
              </div>
            
            </div>
          </div>
        </div>
    </div>
    <div class="cellphone-container">    
      <div class="movie">       
        <div class="movie-img">
          <img src="assets/0afdb8a3049af32e46b0fe8fe965fe1c.jpg">
        </div>
        <div class="text-movie-cont">
          <div class="mr-grid">
            <div class="col1">
              <h1>MindHunter</h1>
              <ul class="movie-gen">
                <li>R18  /</li>
                <li>2 Seasons  /</li>
                <li>Crime drama, Psychological thriller</li>
              </ul>
            </div>
          </div>
          <div class="mr-grid summary-row">
            <div class="col2">
              <h5>SUMMARY</h5>
            </div>
          </div>
          <div class="mr-grid">
            <div class="col1">
              <p class="movie-description">Catching a criminal often requires the authorities to get inside the villain's mind to figure out how he thinks. That's the job of FBI agents Holden Ford and Bill Tench.
                They attempt to understand and catch serial killers</p>
            </div>
          </div>
          <div class="mr-grid actors-row">
            <div class="col1">
              <p class="movie-actors"> Jonathan Groff, Holt McCallany, Anna Torv</p>
            </div>
          </div>
          <div class="mr-grid action-row">
            <div class="col2"><div class="watch-btn"><h3>WATCH TRAILER</h3></div>
            </div>
        
          </div>
        </div>
      </div>
  </div>
  <div class="cellphone-container">    
    <div class="movie">       
      <div class="movie-img">
        <img src="assets/ozark.jpg">
      </div>
      <div class="text-movie-cont">
        <div class="mr-grid">
          <div class="col1">
            <h1>Ozark</h1>
            <ul class="movie-gen">
              <li>R16  /</li>
              <li>4 Seasons  /</li>
              <br>
              <li>Crime drama, Thriller</li>
            </ul>
          </div>
        </div>
        <div class="mr-grid summary-row">
          <div class="col2">
            <h5>SUMMARY</h5>
          </div>
        
        </div>
        <div class="mr-grid">
          <div class="col1">
            <p class="movie-description">Created by Bill Dubuque ("The Accountant," "The Judge"), this drama series stars Jason Bateman as Marty Byrde, a financial planner who relocates his family from Chicago to a summer resort community in the Ozarks </p>
          </div>
        </div>
        <div class="mr-grid actors-row">
          <div class="col1">
            <p class="movie-actors">Jason Bateman, Laura Linney, Sofia Hublitz</p>
          </div>
        </div>
        <div class="mr-grid action-row">
          <div class="col2"><div class="watch-btn"><h3>WATCH TRAILER</h3></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>

